

<style>
   .centromax {
   position: absolute;
   top: 50%;
   left: 50%;
   -moz-transform: translateX(-50%) translateY(-50%);
   -webkit-transform: translateX(-50%) translateY(-50%);
   transform: translateX(-50%) translateY(-50%);
   }
</style>

<div id="modalsettings" class="modal"  style="display:none;">
  <form id="configform" method="POST" action="/api/config">
    <div class="modal-background"></div>
    <div class="modal-card centromax">
      <header class="modal-card-head">
        <p class="modal-card-title">Config pannel</p>
        <p id="closesettings" class="delete" aria-label="close"></p>
      </header>
      <section class="modal-card-body">
       <div class="container">
         <div class="section">
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Username: <%= username %></label>
            </div>
          </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Bio :</label>
          </div>
          <div class="field-body">
            <div class="field">
  <div class="control">
    <textarea class="textarea" form="configform" name="user[bio]" id="bio" placeholder="Max 200 of lenght" maxlength="200" required><%= bio %></textarea>
     </div>
          </div>
  </div>
</div>
       </div>

      </div>
    </section>
    <footer class="modal-card-foot">
      <button id="savesettings" class="button is-success" type="submit">Save changes</button>
      <p  id="closesettings" class="button cancel">Cancel</p>
    </footer>
  </div>
           </form>
</div>












<script>
$(function() {

  $(".cancel").click(function() {
    $(this).parent().parent().parent().css("display","none")
  });



  $("#settings").click(function(){

$("#modalsettings").fadeIn()

  });

  /*$("#savesettings").click(function() {
    $("#modalsettings").fadeOut();
  })*/

$("#closesettings").click(function(){

$("#modalsettings").fadeOut();

});



});
</script>
