<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Disord Oauth Example</title>
      <link rel="stylesheet" href="https://noziro.now.sh/ressources/bulma.css">
      <script src="https://kit.fontawesome.com/9df66f7bcf.js" crossorigin="anonymous"></script>
   </head>
   <body>
      <style>
         .centromax {
         position: absolute;
         top: 50%;
         left: 50%;
         -moz-transform: translateX(-50%) translateY(-50%);
         -webkit-transform: translateX(-50%) translateY(-50%);
         transform: translateX(-50%) translateY(-50%);
         }
      </style>
      <div class="centromax" style="width: 200px;">
         <a class="button is-primary" href="login">
         <span class="icon">
         <i class="fab fa-discord" aria-hidden="true"></i>
         </span>
         <span>Login with Discord</span>
         </a>
      </div>
   </body>
</html>
