<!DOCTYPE html>
<html lang="en">
   <head>
      <link rel="stylesheet" href="https://noziro.now.sh/ressources/bulma.css">
      <title>Discord Oauth Example</title>
   </head>
   <body>
     <style>
        .centromax {
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        }
     </style>
    <div class="centromax has-text-centered">
      <img src="https://cdn.discordapp.com/avatars/<%= userid %>/<%= avatar %>.png?size=128" style="border-radius:50%">
      <div class="content">
        <p class="is-medium">
          Hi <%= username %>
        </p>
      </div>
    </div>
   </body>
</html>
